/* Write your CSS code here */
.header-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}
.logo-image-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.link-style-item {
  text-decoration: none;
  font-size: 24px;
  margin-left: 15px;
  font-weight: Bold;
  color: #12022f;
}
.logo-heading-style {
  font-size: 24px;
  margin-left: 15px;
  font-weight: Bold;
  color: #12022f;
}
.logo-style {
  height: 30px;
}
